html,body
{
    width: 100%;
    height: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

h1 {
  font-family: "Rock Salt", cursive;
  font-size: 60px !important;
  color:burlywood;
  /* color: white; */
  /* color: rgba(216, 187, 171, 1); */
}

h2 {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 60px !important;
  color: white;
  border-left: 1px solid white;
  text-align: left;
  padding: 0px 30px;
  margin: 20px;
}

.App {
  text-align: center;
  /* background-color: antiquewhite; */
}

.menu {
  background-color:antiquewhite;
  /* background-color: darkslategrey; */
  /* background: rgb(32,73,92);
background: radial-gradient(circle, rgba(32,73,92,1) 40%, rgba(15,33,42,1) 100%); */
  /* background-color:rgba(32, 72, 92, 1); */
  /* background-color:rgba(0, 117, 117, 1); */
}

.content {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  /* color: rgba(198, 141, 128, 1); */
  color: grey;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.navbar {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px;
  transform: translatey(-200%);
}

.nav-item {
  border-left: 1px solid grey;
  padding: 0px 30px;
}

.card {
  background-color: #333 !important;
  position: relative;
  min-height: 320px;
  overflow: hidden;
  margin: 20px;
  border-radius: 10px !important;
  box-shadow: 0px 30px 60px 0px rgba(247, 178, 178, 0.3), inset #333 0 0 0 5px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
  border: none !important;
}

.card:hover {
  box-shadow: 0px 30px 60px 0px rgba(0, 0, 0, 0.3), inset #333 0 0 0 5px,
    inset rgba(255, 255, 255, 0.5) 0 0 0 6px, white 0 0 0 2px;
}

.card-image {
  opacity: 0.7;
  position: absolute;
  background-position: center;
  background-size: cover;
}

.card-image:hover {
  opacity: 0.5;
}

.project-name {
  font-family: "Cormorant Garamond", serif;
  font-size: 20px;
  font-weight: 500;
  text-shadow: rgba(black, 0.5) 0 10px 10px;
  bottom: 0;
  position: absolute;
  padding: 20px;
  transform: translateY(40%);
  color: #fff;
}

.projects-page {
  /* background-color: rgba(218, 192, 167, 1) !important; */
  /* background-color: burlywood !important; */
  background-color: rgba(202, 170, 147, 1) !important;
  padding: 30px;
}

.projectspage-content {
  font-family: "Cormorant Garamond", serif;
  font-weight: 400;
  font-size: 20px !important;
  color: white;
  border-left: 1px solid white;
  text-align: left;
  padding: 0px 30px;
  margin: 20px;
}
